<div class="declaimer">
    <h4>Risk Warning</h4>
    <p>Handling and possessing exotic animals posses risk! The venom of some of the animals listed in
        <span class="bolded-text">Tarantulas-Bulgaria.com</span> can be potentially dangerous for humans and other
        pets! </p>
    <p><span class="bolded-text">Tarantulas-Bulgaria.com</span> doesn't take any responsibilities if you have
        damaged the animal after shipping if there is no footage of opening the package.</p>

    <div class="all-rights">
        <p>&copy;All Rights Reserved <span class="bolded-text">Tarantulas-Bulgaria.com</span> 2019<p>
    </div>
</div>