.navigation {
  padding: 0.4em 1.5em;
  background-color: var(--color-for-buttons-hover, rgba(240, 189, 155, 0.774));
  border-bottom: 1px solid var(--color-for-buttons, #FF6600);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }
  .navigation li {
    flex-direction: row; }
  .navigation a {
    color: #030303;
    font-weight: 700; }
  .navigation a:hover {
    color: var(--color-for-buttons, #FF6600);
    text-decoration: underline; }
