article {
  padding: 1em; }
  article h4 {
    font-size: 2em;
    margin-bottom: 1em; }
  article .shipping-titles {
    color: #3b4603;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1em 0; }
  article .notice {
    color: #580207;
    margin: 0.4em 0em;
    text-transform: uppercase;
    font-weight: 700; }
  article .bolded-text {
    font-weight: 700;
    padding-bottom: 0.7em;
    padding-top: 0.3em; }
