@import url("https://fonts.googleapis.com/css?family=Grenze|Open+Sans:400,700&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.header {
  background: url("https://i.imgur.com/kx94ZPz.jpg") no-repeat center center;
  background-size: cover;
  height: 20em; }
  .header ul {
    display: flex;
    justify-content: space-between; }
  .header h1 {
    margin-left: 1em;
    padding-top: 0.5em;
    font-size: 3em;
    color: white; }
  .header h2 {
    text-align: center;
    color: white;
    padding-top: 0.5em;
    font-size: 3em; }

.pre-header {
  background-color: rgba(245, 244, 240, 0.6);
  padding: 0.4em; }
  .pre-header ul {
    font-size: 17px;
    margin-left: 2em;
    margin-right: 2em; }
  .pre-header .far {
    color: var(--color-for-buttons, #FF6600); }
  .pre-header .far span {
    color: #030202;
    margin-left: 0.3em; }
  .pre-header .far a {
    margin-left: 0.3em;
    color: #030202; }
  .pre-header .fas {
    color: var(--color-for-buttons, #FF6600); }
  .pre-header .fas a {
    margin-left: 0.3em;
    color: #030202;
    font-weight: 400; }
  .pre-header a:hover {
    color: var(--color-for-buttons, #FF6600);
    text-decoration: underline;
    opacity: 1;
    transition-duration: 0.4s; }

html {
  font-size: 16px;
  line-height: 1,5;
  font-family: var(--content-font-style);
  color: black; }

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  background-color: #FCFAFA; }

h1, h2, h3, h4, h5 {
  font-family: var(--headings-font-style, "Lobster", cursive); }

:root {
  --content-font-style:'Open Sans', sans-serif;
  --headings-font-style:'Grenze', serif;
  --color-for-buttons:#FF6600; }

.declaimer {
  background-color: #f8f5f5;
  padding: 0.3em 4em;
  margin-top: 3em; }
  .declaimer h4 {
    font-size: 2em;
    margin-left: 0.4em;
    color: var(--color-for-buttons, #FF6600); }
  .declaimer .bolded-text {
    font-weight: 700; }
  .declaimer p::first-letter {
    padding-left: 0.2em; }
  .declaimer .all-rights {
    margin-top: 1em;
    text-align: right;
    border-top: 1px solid var(--color-for-buttons, #FF6600); }
    .declaimer .all-rights p {
      padding-top: 0.5em; }

article {
  padding: 1em; }
  article h4 {
    font-size: 2em;
    margin-bottom: 1em; }
  article .shipping-titles {
    color: #3b4603;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1em 0; }
  article .notice {
    color: #580207;
    margin: 0.4em 0em;
    text-transform: uppercase;
    font-weight: 700; }
  article .bolded-text {
    font-weight: 700;
    padding-bottom: 0.7em;
    padding-top: 0.3em; }

.navigation {
  padding: 0.4em 1.5em;
  background-color: rgba(240, 189, 155, 0.774);
  border-bottom: 1px solid var(--color-for-buttons, #FF6600); }
  .navigation li {
    display: inline-block; }
  .navigation li:not(:first-child) {
    margin-left: 3em; }
  .navigation a {
    color: #030303;
    font-weight: 700; }
  .navigation a:hover {
    color: var(--color-for-buttons, #FF6600);
    text-decoration: underline; }

.services-provided {
  margin-bottom: 1em; }
  .services-provided ul {
    text-align: center;
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    margin-left: 4em;
    margin-right: 4em; }
  .services-provided .fas {
    font-size: 20px;
    color: var(--color-for-buttons, #FF6600);
    text-transform: uppercase; }

.begginer-kit {
  text-align: center; }
  .begginer-kit h2 {
    font-size: 2em;
    margin-left: 2em; }
  .begginer-kit ul {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em; }
  .begginer-kit img {
    width: 12em;
    height: 12em;
    border: 1px solid var(--color-for-buttons, #FF6600); }
  .begginer-kit p {
    margin-top: 0.5em; }
  .begginer-kit .price-for-kits {
    color: #1e7e0a;
    font-weight: 700;
    text-align: center; }

.old-world-vs-new-world {
  margin-top: 3em; }
  .old-world-vs-new-world h2 {
    font-size: 2em;
    text-align: center;
    margin-left: 2em;
    margin-bottom: 1em; }
  .old-world-vs-new-world ul {
    display: flex;
    justify-content: center; }
  .old-world-vs-new-world li {
    margin-left: 2em; }
  .old-world-vs-new-world img {
    width: 17em;
    height: 17em;
    border-radius: 1em;
    border: 1px solid #FF6600; }
  .old-world-vs-new-world p {
    color: #FF6600;
    font-weight: 700;
    text-align: center; }
  .old-world-vs-new-world .learn-more {
    text-align: center;
    margin-top: 1em; }
  .old-world-vs-new-world h3 {
    text-align: center; }
  .old-world-vs-new-world a {
    padding: 0.5em 2em;
    background-color: #FF6600;
    color: #fff;
    border-radius: 1em;
    border: 1px solid #FF6600;
    transition-duration: 0.4s; }
  .old-world-vs-new-world a:hover {
    background-color: rgba(255, 102, 0, 0.541);
    color: #030303; }

.tarantulas-World {
  margin-top: 3em;
  margin-bottom: 5em; }
  .tarantulas-World header {
    width: 100%;
    text-align: center; }
    .tarantulas-World header img {
      width: 40%;
      height: 20%;
      border-radius: 1.5em; }
    .tarantulas-World header img:hover {
      opacity: 0.5;
      transition-duration: 2s; }
    .tarantulas-World header h1 {
      color: #FF6600;
      font-weight: 900; }
  .tarantulas-World h3 {
    font-size: 2em;
    color: #FF6600;
    padding-top: 1em; }
  .tarantulas-World .image-with-text {
    width: 20%;
    float: left;
    text-align: center;
    margin: 1em; }
    .tarantulas-World .image-with-text img {
      width: 70%;
      height: 30%;
      padding-top: 1em;
      padding-bottom: 1em;
      border-radius: 2em; }
    .tarantulas-World .image-with-text p {
      color: rgba(0, 0, 0, 0.521); }
  .tarantulas-World .text {
    float: none; }
  .tarantulas-World .image-with-text-2 {
    width: 20%;
    float: right;
    text-align: center;
    margin: 1em; }
    .tarantulas-World .image-with-text-2 img {
      width: 70%;
      height: 30%;
      padding-top: 1em;
      padding-bottom: 1em;
      border-radius: 2em; }
    .tarantulas-World .image-with-text-2 p {
      color: rgba(0, 0, 0, 0.521); }

.div-spiders {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 300px 300px 300px;
  justify-content: space-evenly;
  row-gap: 1em; }
  .div-spiders img {
    display: block;
    width: 80%;
    height: 70%;
    margin-left: 2em;
    border-radius: 1em; }
  .div-spiders .spiders-world {
    text-align: center; }
    .div-spiders .spiders-world p {
      font-size: 18px;
      margin-top: 0.2em; }
    .div-spiders .spiders-world .price {
      color: #0a5f07;
      font-weight: 900;
      padding-bottom: 0.2em; }
    .div-spiders .spiders-world a {
      color: #fff;
      background-color: #ff6600;
      border-radius: 0.5em;
      padding: 0.2em 0.5em;
      font-weight: 900;
      transition-duration: 0.4s;
      border: 1px solid #ff6600; }
    .div-spiders .spiders-world a:hover {
      background-color: #ee8f4f;
      color: #0e0c0c; }
    .div-spiders .spiders-world .price-for-discount {
      color: #a50404;
      font-weight: 900;
      padding-bottom: 0.2em; }

.order {
  margin: 2em; }
  .order h3 {
    font-size: 2em;
    text-align: center; }
  .order p {
    margin-left: 2em;
    padding-top: 0.2em; }
  .order .notice {
    color: #7e0a0a;
    font-weight: 900; }
  .order form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em; }
  .order label {
    font-size: 18px;
    color: #ff6600;
    margin-bottom: 0.5em;
    margin-top: 0.7em;
    font-weight: 700; }
  .order input {
    width: 20em;
    height: 2em;
    border: 1px solid #ff6600; }
  .order span {
    flex-direction: row;
    margin-top: 0.5em; }
    .order span label {
      padding-left: 2em;
      padding-right: 0.2em; }
    .order span select {
      padding-left: 0.3em;
      height: 1.5em;
      width: 10em;
      border: 1px solid #ff6600;
      font-size: 18px; }
    .order span option {
      font-size: 18px; }
  .order select {
    padding-left: 0.3em;
    height: 1.5em;
    width: 17em;
    border: 1px solid #ff6600;
    font-size: 18px; }
  .order option {
    font-size: 18px; }
  .order a {
    margin-top: 0.7em;
    background-color: #ff6600;
    padding: 0.7em 2em;
    border-radius: 1em;
    border: 2px solid #ff6600;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.4s;
    color: #fff; }
  .order a:hover {
    background-color: #ee8f4f;
    color: #0e0c0c; }

.conformation {
  text-align: center;
  padding-top: 3em; }
  .conformation h3, .conformation h4, .conformation h5 {
    font-size: 2em; }
  .conformation h5 {
    padding-bottom: 1em; }
  .conformation a {
    background-color: #FF6600;
    padding: 0.7em 0.5em;
    border-radius: 1em;
    color: #fff;
    transition-duration: 0.4s;
    font-weight: 900; }
  .conformation a:hover {
    background: #ee8a47;
    color: black; }

.contactus {
  margin-top: 2em; }
  .contactus h3, .contactus h4 {
    font-size: 2em;
    text-align: center; }
  .contactus form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contactus span {
    flex-direction: row;
    padding-bottom: 1em; }
  .contactus label {
    font-size: 18px;
    color: #FF6600;
    margin-right: 1em;
    font-weight: 900; }
  .contactus #subject {
    margin-right: 0.6em; }
  .contactus input {
    width: 20em;
    height: 2em;
    border: 1px solid #FF6600; }
  .contactus .message {
    text-align: center; }
  .contactus #message {
    display: block;
    width: 40em;
    height: 15em;
    margin-top: 0.7em;
    border: 1px solid #FF6600;
    margin-bottom: 1em; }
  .contactus a {
    background-color: #ff6600;
    padding: 0.7em 2em;
    border-radius: 1em;
    border: 2px solid #ff6600;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.4s;
    color: #fff; }
  .contactus a:hover {
    background-color: #ee8f4f;
    color: #0e0c0c; }

h2 {
  font-size: 3em;
  text-align: center;
  margin: 1em; }

.div-spiders-on-sale {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 300px;
  justify-content: space-evenly;
  row-gap: 1em; }
  .div-spiders-on-sale img {
    display: block;
    width: 80%;
    height: 70%;
    margin-left: 2em;
    border-radius: 1em; }
  .div-spiders-on-sale .spiders-world-on-sale {
    text-align: center; }
    .div-spiders-on-sale .spiders-world-on-sale p {
      font-size: 18px;
      margin-top: 0.2em; }
    .div-spiders-on-sale .spiders-world-on-sale .price {
      color: #0a5f07;
      font-weight: 900;
      padding-bottom: 0.2em; }
    .div-spiders-on-sale .spiders-world-on-sale a {
      color: #fff;
      background-color: #ff6600;
      border-radius: 0.5em;
      padding: 0.2em 0.5em;
      font-weight: 900;
      transition-duration: 0.4s;
      border: 1px solid #ff6600; }
    .div-spiders-on-sale .spiders-world-on-sale a:hover {
      background-color: #ee8f4f;
      color: #0e0c0c; }
    .div-spiders-on-sale .spiders-world-on-sale .price-for-discount {
      color: #a50404;
      font-weight: 900;
      padding-bottom: 0.2em; }

.want-to-buy {
  margin-top: 3em;
  text-align: center; }
  .want-to-buy h2 {
    font-size: 2em;
    margin-left: 2em;
    margin-bottom: 1em; }
  .want-to-buy ul {
    display: flex;
    justify-content: center; }
  .want-to-buy li {
    margin-left: 2em; }
  .want-to-buy img {
    width: 17em;
    height: 17em;
    border-radius: 1em;
    border: 1px solid #ff6600; }
  .want-to-buy p {
    color: #ff6600;
    font-weight: 700;
    text-align: center; }
  .want-to-buy h3 {
    text-align: center;
    margin-bottom: 1em; }
  .want-to-buy a {
    padding: 0.5em 2em;
    background-color: #ff6600;
    color: #fff;
    border-radius: 1em;
    border: 1px solid #ff6600;
    transition-duration: 0.4s; }
  .want-to-buy a:hover {
    background-color: rgba(255, 102, 0, 0.541);
    color: #030303; }

h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em; }

img {
  display: block;
  width: 80%;
  height: 70%;
  border-radius: 2em; }

.choice p {
  font-size: 18px;
  font-weight: 700;
  text-align: center; }

.terariums {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  justify-content: space-evenly;
  row-gap: 1em; }

.accessories {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  justify-content: space-evenly;
  row-gap: 1em; }

.tarantulas-wiki {
  display: flex;
  justify-content: space-evenly; }

.choose-a-monster h2 {
  color: #FF6600; }

.menu-to-choose-from ul {
  flex: 0 0 60%;
  margin: 2em; }

.menu-to-choose-from li {
  margin: 1em; }

.menu-to-choose-from a {
  background-color: var(--color-for-buttons, #FF6600);
  padding: 0.3em 0.5em;
  color: #fff;
  border-radius: 1em;
  border: 1px solid var(--color-for-buttons, #FF6600);
  transition-duration: 0.4s;
  font-weight: 700;
  text-align: center; }

.menu-to-choose-from a:hover {
  background-color: #af622f;
  color: #050303; }

.menu-to-choose-from .active {
  background-color: #af622f; }

.menu-to-choose-from .active:hover {
  background-color: #FF6600;
  color: #fff; }

.tarantulas-wiki-info {
  margin-top: 2em;
  flex: 0 0 50%; }
  .tarantulas-wiki-info img {
    width: 400px;
    height: 400px;
    display: inline-block; }
  .tarantulas-wiki-info .image-and-name-of-spider {
    flex-direction: row; }
  .tarantulas-wiki-info h3 {
    margin-bottom: 0;
    text-align: left; }
  .tarantulas-wiki-info h4 {
    font-size: 1.5em;
    color: #FF6600; }
  .tarantulas-wiki-info .type-tarantula {
    color: #068d11;
    font-weight: 900;
    margin-right: 0.5em; }
