.div-on-sale {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px;
  justify-content: space-evenly;
  margin-bottom: 2em; }
  .div-on-sale .on-sale-1 {
    background-color: yellow; }
  .div-on-sale .on-sale-2 {
    background-color: red; }
  .div-on-sale .on-sale-3 {
    background-color: black; }

.div-spiders {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 300px 300px 300px;
  justify-content: space-evenly;
  row-gap: 1em; }
  .div-spiders img {
    display: block;
    width: 80%;
    height: 70%;
    margin-left: 2em;
    border-radius: 1em; }
  .div-spiders .spiders-world {
    text-align: center; }
    .div-spiders .spiders-world p {
      font-size: 18px;
      margin-top: 0.2em; }
    .div-spiders .spiders-world .price {
      color: #0a5f07;
      font-weight: 900;
      padding-bottom: 0.2em; }
    .div-spiders .spiders-world a {
      color: #fff;
      background-color: #FF6600;
      border-radius: 0.5em;
      padding: 0.2em 0.5em;
      font-weight: 900;
      transition-duration: 0.4s;
      border: 1px solid #FF6600; }
    .div-spiders .spiders-world a:hover {
      background-color: #ee8f4f;
      color: #0e0c0c; }
