.conformation{
    text-align: center;
    padding-top:3em;
    h3,h4,h5{
        font-size:2em;
    }
    h5{
        padding-bottom:1em;
    }
    a{
        background-color:var(--color-for-buttons,#FF6600);
        border:1px solid var(--color-for-buttons,#FF6600);
        padding:0.7em 0.5em;
        border-radius:1em;
        color:#fff;
        transition-duration: 0.4s;
        font-weight: 900;
    }
    a:hover{
        background:var(--color-for-buttons-hover,rgba(240, 189, 155, 0.774));
        color:black;
    }
}