.tarantulas-World {
    margin-top:3em;
    margin-bottom:5em;

    header{
        width:100%;
        text-align:center;
        img{
            width:40%;
            height:20%;
            border-radius:1.5em;
        }
        img:hover{
            opacity:0.5;
            transition-duration: 2s;
        }
        h1{
            color:#FF6600;
            font-weight: 900;
        }
    }

    h3{
       font-size:2em;
       color:#FF6600;
       padding-top:1em;

    }
  .image-with-text {
    width: 20%;
    float: left;
    text-align:center;
    margin:1em;
    img {
      width: 70%;
      height: 30%;
      padding-top:1em;
      padding-bottom:1em;
      border-radius:2em;
      
    }
    p{
        
        color:rgba(0, 0, 0, 0.521);
    }
  }
  .text {
    float: none;
  }
  .image-with-text-2 {
    width: 20%;
    float: right;
    text-align:center;
    margin:1em;
    img {
      width: 70%;
      height: 30%;
      padding-top:1em;
      padding-bottom:1em;
      border-radius:2em;
      
    }
    p{
        
        color:rgba(0, 0, 0, 0.521);
    }
  }
}

.div-spiders {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 300px 300px 300px;
  justify-content: space-evenly;
  row-gap: 1em;

  img {
    display: block;
    width: 80%;
    height: 70%;
    margin-left: 2em;
    border-radius: 1em;
  }
  .spiders-world {
    text-align: center;
    p {
      font-size: 18px;
      margin-top: 0.2em;
    }
    .price {
      color: rgb(10, 95, 7);
      font-weight: 900;
      padding-bottom: 0.2em;
    }
    a {
      color: #fff;
      background-color: #ff6600;
      border-radius: 0.5em;
      padding: 0.2em 0.5em;
      font-weight: 900;
      transition-duration: 0.4s;
      border: 1px solid #ff6600;
    }
    a:hover {
      background-color: #ee8f4f;
      color: rgb(14, 12, 12);
    }
    .price-for-discount {
      color: rgb(165, 4, 4);
      font-weight: 900;
      padding-bottom: 0.2em;
    }
  }
}