article{
    
    padding:1em;
    h4{
        font-size:2em;
        margin-bottom:1em;
        
    }
    

    .shipping-titles{
        color:rgb(59, 70, 3);
        font-size:20px;
        text-transform: uppercase;
        font-weight: 700;
        margin:1em 0;
    }
    .notice{
        color:rgb(88, 2, 7);
        margin:0.4em 0em;
        text-transform: uppercase;
        font-weight: 700;
    }
    .bolded-text{
        font-weight:700;
        padding-bottom:0.7em;
        padding-top:0.3em;
    }
}